POSTGRES_USER=postgres
POSTGRES_PASSWORD=Gavini123@
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=socialpilot
POSTGRES_URL=postgresql+psycopg2://postgres:Gavini123%40@localhost:5432/socialpilot

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=socialpilot_db

SECRET_KEY=your_jwt_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
