.navbar {
  height: 70px;

  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;

  border-bottom: 1px solid #e5e7eb;

  position: sticky;
  top: 0;
  z-index: 100;
}

.search-box {
  width: 350px;

  display: flex;
  align-items: center;

  gap: 10px;

  background: #f1f5f9;

  padding: 10px 16px;

  border-radius: 10px;
}

.search-box input {
  width: 100%;

  border: none;
  outline: none;

  background: transparent;

  font-size: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon {
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile h4 {
  margin: 0;
}

.profile small {
  color: gray;
}